<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="#home">Ana Sayfa</a>
                    <a href="#">Blog</a>
                    <a href="#about">Hakkımda</a>
                    <a href="#">S.S.S.</a>
                    <a href="#contact">İletişim</a>
                </p>
                <p class="footer-company-name">
                    All Rights Reserved. &copy; 2018 <a href="#">Burak</a> Design By :
                    <a href="https://html.design/">Burak Karaosmanoğlu</a>
                </p>
            </div>
        </div>
    </div><!-- end container -->
</div>
