
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Referans Ekleme Sayfası</h2>

<form method="post">
    <label>ReferansID</label>
    <input type="text" class="table table-bordered" name="TestimonialID"/>
    <label>Referans Ünvan</label>
    <input type="text" class="table table-bordered" name="Title"/>
    <label>Referans Açıklaması</label>
    <textarea rows="4" class="table table-bordered" name="Description"></textarea>
    <label>Ad Soyad</label>
    <textarea type="text" class="table table-bordered" name="NameSurname"></textarea>
    <br />
    <label>Referans Resim Yolu</label>
    <input type="text" class="table table-bordered" name="ImageUrl"/>
    <br />
    <label>Meslek</label>
    <input type="text" class="table table-bordered" name="Job"/>
    <label>Status</label>
    <input type="text" class="table table-bordered" name="Status" />


    <button class="btn btn-info"> Referansı Kaydet</button>

</form>

