@model AcunMedyaAkademiPortfolio.Models.TblCategory
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Update Category</h2>
<form method="post">
    <label>Kategori id</label>
    <input type="text" class="table table-bordered" value="@Model.Categoryid" name="Categoryid" />
    <br />
    <label>Kategori Adı</label>
    <input type="text" class="table table-bordered" value="@Model.CategoryName" name="CategoryName" />
    <br />
    <button class="btn btn-success">Kategori Güncelleme</button>

</form>


